$darkapp: #1D1D1B;

$roseapp: #E50049;

$grisapp: #F2F2F2;

$gris2app: #CCCCCC;

$orangapp: #FFB600;

$blangapp: #FFFFFF;

// slider menu color

$blancslidmenu: #FFFFFF;

$roseslidmenu: #E50049;

// color realisation

$grisrea: #b3b3b3;

$grismoyen: #666;

// color client

$grisclair: #efefef;